body {
    background-color: hsl(212, 45%, 89%);
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Outfit", serif;
}

.container {
    background-color: white;
    width: 375px;
    padding: 1%;
    border-radius: 15px;
    top: 50%;
    text-align: center;
}

img {
    border-radius: 15px;
    height: 375px;
    width: 375px;
}
  
h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
  
p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    padding: 15px;
}